body {
  font-family: 'Raleway', sans-serif;
  background-color: #121212;
  color: #fff;
  margin: 0;
  padding: 0;
}

.admin-section {
  margin-bottom: 40px;
}

.game-form-container,
.user-form-container {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 5px;
}

.game-form-container form,
.user-form-container form {
  display: flex;
  flex-direction: column;
}

.game-form-container form label,
.user-form-container form label {
  margin-bottom: 5px;
}

.game-form-container form input,
.game-form-container form textarea,
.user-form-container form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

.game-form-container form textarea {
  resize: vertical;
}

.game-form-container form button,
.user-form-container form button {
  padding: 10px 20px;
  background-color: #03cc5e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.game-form-container form button:hover,
.user-form-container form button:hover {
  background-color: #029c46;
}

/* FORM DE ADICIONAR GÊNERO DE JOGO */
.genre-form-container {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.genre-form-container h2 {
  margin-bottom: 20px;
}

.genre-form-container form label {
  margin-bottom: 5px;
}

.genre-form-container form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

.genre-form-container form button {
  padding: 10px 20px;
  background-color: #03cc5e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.genre-form-container form button:hover {
  background-color: #029c46;
}



/* FORMULARIO DE GERENCIAMENTO DE USUÁRIOS */
.user-management-container {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 5px;
}

.user-search-container {
  margin-bottom: 20px;
}

.user-search-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

.user-search-container button {
  padding: 10px 20px;
  background-color: #03cc5e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-search-container button:hover {
  background-color: #029c46;
}

#usersTable {
  width: 100%;
  border-collapse: collapse;
}

#usersTable th,
#usersTable td {
  padding: 10px;
  text-align: left;
}

#usersTable th {
  background-color: #333;
}

#usersTable tr:nth-child(even) {
  background-color: #222;
}

#usersTable td a {
  color: #03cc5e;
  text-decoration: none;
}

#usersTable td a:hover {
  text-decoration: underline;
}

.user-form-container {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.user-form-container h2 {
  margin-bottom: 20px;
}

.user-form-container form label {
  margin-bottom: 5px;
}

.user-form-container form input,
.user-form-container form select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

.user-form-container form button {
  padding: 10px 20px;
  background-color: #03cc5e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-form-container form button:hover {
  background-color: #029c46;
}


/* LISTA DE JOGOS */
.pesquisa-jogos {
  margin-top: 30px;
  margin-bottom: 30px;
}

.pesquisa-jogos input {
  background-color: #333;
  color: #fff;
  width: 300px;
  border-radius: 5px;
}

.pesquisa-jogos select {
  background-color: #333;
  color: #fff;
  width: 200px;
  padding: 3px;
  border-radius: 5px;
}


.pesquisa-jogos button {
  background-color: #03cc5e;
  border-radius: 5px;
  color: #fff;
  border: none;
  padding: 4px;
}

.pesquisa-jogos  button:hover {
  background-color: #029c46;
}

.games-list,
.orders-list,
.users-list {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 5px;
}

#gamesTable,
#ordersTable,
#usersTable {
  width: 100%;
  border-collapse: collapse;
}

#gamesTable th,
#ordersTable th,
#usersTable th,
#gamesTable td,
#ordersTable td,
#usersTable td {
  padding: 10px;
  text-align: left;
}

#gamesTable th,
#ordersTable th,
#usersTable th {
  background-color: #333;
}

#gamesTable tr:nth-child(even),
#ordersTable tr:nth-child(even),
#usersTable tr:nth-child(even) {
  background-color: #222;
}

#gamesTable td a,
#ordersTable td a,
#usersTable td a {
  color: #03cc5e;
  text-decoration: none;
}

#gamesTable td a:hover,
#ordersTable td a:hover,
#usersTable td a:hover {
  text-decoration: underline;
}

.order-details {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.order-details h3 {
  color: #ff7f30;
}

footer {
  background-color: #1f1f1f;
}

footer h5 {
  color: #03cc5e;
}

footer a {
  color: #03cc5e;
}

footer a:hover {
  text-decoration: none;
  color: #fff;
}